.detailCardWrapper{

    width: 45rem;
    background-color: rgba(182, 72, 72, 0.855) !important;

    .detailCardImage{
        width: 150px;
    }
}

.detailCardId{
    color: black;
    width: 100%;
}