.logo{

    margin-right: 10px;

    img{
        max-width: 35px;
    }
    .number{
        color: black;
        font-size: 12px;
        user-select: none;
        margin: -5px 1px 0px 1px;
        width: 20px;
        height: 20px;
        padding: 10px;
        border-radius: 20px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}