.pokemonCardWrapper{
        background-image: url('../../assets/common.png');
        background-size: cover;
        display: block;
        transition: .2s;
        width: 200px;
        height: 180px;
        color: black;
        user-select: none;
        border-radius: 20px;

    .pokemonCardId{      
        backdrop-filter: blur(10px);
        background-size:cover;
        padding-top: 10px;
        padding-left: 10px;
        text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.582);
        text-align: center;
    }

    .pokemonCardContent{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img{
            padding-top:25px;
            width: 125px;
            height: 125px;
            object-fit:cover;
        }

        .pokemonCardTitle{
            font-size: 16px;
            text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.582);
            padding-bottom: 20px;
        }
    }


    @media (hover: none) {
        &:hover {
          box-shadow: none;
        }
        &{
            width: 170px;
        }
    }
    
    &:hover{
        box-shadow: 5px 10px 10px rgba(47, 47, 47, 0.561);
    }

}