.itemListContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em 2em;
    align-content: space-around;
    justify-items: center;

    @media(max-width:500px){
        &{
            margin: 0px;
            gap:.5em;
            grid-template-columns: repeat(auto-fill, minmax(150px, .8fr));
        }
    }
    
}